# Python files
__pycache__/
*.py[cod]

# Python testing files
.coverage

# Ignore macOS Finder meta
.DS_Store
.tm_properties

# Ignore optional build / cache directory
/build

# Ignore DMG files and build artifacts
*.dmg
custom-ungoogled-chromium/
build/

# Ignore VS Code settings
.vscode/
